body {
  font-family: var(--font-family-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bg;
  min-height: 100dvh;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}
