.page {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: clamp(20px, 16.6vw, 320px);
  padding-right: clamp(20px, 8.3vw, 160px);

  .inner {
    border-left: 1px $line solid;
    border-right: 1px $line solid;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    @include for-non-mobile {
      &::after {
        content: '';
        position: absolute;
        background-color: $line;
        z-index: 0;
        width: 1px;
        height: 100%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  @include for-mobile {
    padding: 0;
  }
}
