.wrapper {
  position: relative;
  width: 100%;
  max-width: 430px;
  margin: 0 auto;
  aspect-ratio: 1 / 1;
}

.circle {
  position: absolute;
  inset: 0;
  border: 1px solid $circle;
  border-radius: 50%;
}

.dot {
  position: absolute;
  width: 6px;
  height: 6px;
  background: $black-blue;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
