.circle {
  border: 1px solid $circle;
  border-radius: 50%;
  height: 424px;
  width: 424px;

  .dot {
    color: $black-blue;
    position: absolute;
    width: 50px;
    height: 50px;
    border: 1px solid rgba(66, 86, 122, 0.5);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    transition: background-color 0.3s ease;
    pointer-events: auto;

    &::before {
      content: '';
      position: absolute;
      width: 100px;
      height: 100px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: grab;
    }
  }

  .dotNumber {
    font-size: 12px;
    font-weight: 400;
    opacity: 0;
    visibility: hidden;
    font-family: var(--font-family-main);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover {
      cursor: grab;
    }
  }

  .dotTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(40px) translateY(-50%);
    opacity: 0;
    visibility: hidden;
    font-weight: 700;
    white-space: nowrap;
  }
}
