.navigationWrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
  color: $primary;
  position: relative;

  @include for-mobile {
    gap: 7px;
  }
}

.counterWrapper {
  font-size: 12px;

  @include for-mobile {
    font-size: 14px;
  }
}

.buttonsWrapper {
  display: flex;
  flex-direction: row;
  gap: 15px;

  button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid color-mix(in srgb, $primary, transparent 50%);
    color: $primary;
    pointer-events: auto;

    transition: background-color 0.4s ease;

    &:disabled {
      border-color: color-mix(in srgb, $primary, transparent 80%);
      color: color-mix(in srgb, $primary, transparent 80%);
    }

    &:hover {
      background-color: rgba(126, 126, 126, 0.616);
    }

    @include for-mobile {
      width: 28px;
      height: 28px;

      svg {
        width: 10px;
        height: 10px;
      }
    }
  }

  @include for-mobile {
    gap: 9px;
  }
}
