:root {
  --color-primary: #eff5ff;
  --color-secondary: #a7c6ff;
  --color-line: rgba(66, 86, 122, 0.4);
  --color-circle: rgba(66, 86, 122, 0.4);
  --color-bg: #292929;

  --font-family-main: 'Sans Mono', monospace;
  --font-family-accent: 'Press Start 2p', sans-sefif;
}

$primary: var(--color-primary);
$secondary: var(--color-secondary);
$line: var(--color-line);
$circle: var(--color-circle);
$bg: var(--color-bg);