.navigationWrapper {
  position: absolute;
  top: 90%;
  left: 46.5%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  justify-content: center;
  gap: 12px;

  .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $primary;
    opacity: 0.4;
    transition:
      opacity 0.3s,
      transform 0.3s;
    pointer-events: auto;

    &.dotActive {
      opacity: 1;
    }
  }
}
