.title {
  position: relative;
  font-size: 45px;
  font-weight: 700;
  color: $black-blue;
  line-height: 1.07;

  @include for-non-mobile {
    &::before {
      content: '';
      position: absolute;
      left: -65px;
      top: 0;
      width: 4px;
      height: 100%;
      background: linear-gradient($primary, $secondary);
    }
  }

  @include for-mobile {
    font-size: 20px;
  }
}
