.yearsWrapper {
  font-size: 150px;
  font-weight: 700;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  gap: 50px;

  span:first-child {
    color: $primary;
  }

  span:last-child {
    color: $secondary;
  }

  @include for-mobile {
    font-size: 56px;
    gap: 20px;
  }
}
