.yearsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: -30px;
  font-size: clamp(48px, 12vw, 150px);
  font-weight: 700;

  span:first-child {
    text-align: right;
    flex: 1;
    color: $primary;
    margin-right: 70px;
  }

  span:last-child {
    text-align: left;
    flex: 1;
    color: $secondary;
  }

  //   @include for-mobile {
  //     font-size: clamp(24px, 12vw + 10px, 56px);
  //     gap: 20px;
  //   }
}
