.yearsWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(48px, 12vw, 160px);
  font-weight: 700;
  gap: 7%;
  width: 800px;
  z-index: -1;

  span {
    flex: 1;
    &:first-child {
      text-align: right;
      color: $primary;
    }

    &:last-child {
      text-align: left;
      color: $secondary;
    }
  }

  @include for-mobile {
    font-size: clamp(24px, 12vw + 10px, 56px);
  }
}
