.container {
  height: 100svh;
  padding: 0 clamp(20px, 8.3vw, 160px);
  overflow: hidden;

  .widgetContainer {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .contentContainer {
      position: absolute;
      top: 115px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 76%;
      pointer-events: none;
      padding: 0 4rem;

      .navSliderContainer {
        display: flex;
        flex-direction: column;
        gap: 40px;
        position: relative;

        @include for-mobile {
          flex-direction: column-reverse;
          gap: 15px;
        }
      }

      @include for-mobile {
        padding: 0;
        padding-left: 1.5rem;
        top: 5%;
        height: 92%;
      }
    }

    .circleContainer {
      position: relative;
      top: -7.5%;

      .sun {
        width: 100px;
        height: 100px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      .planet {
        width: 50vw;
        height: 50vw;
      }

      @include for-mobile {
        top: -14%;
      }
    }

    @include for-non-mobile {
      border-left: 2px solid $line;
      border-right: 2px solid $line;
    }
  }

  @include for-mobile {
    padding-left: 0;
    padding-right: 0;
  }
}
