.sliderWrapper {
  position: relative;
  width: 100%;

  @include for-mobile {
    padding-bottom: 30px;
  }
}

:global {
  .swiper-button-next,
  .swiper-button-prev {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition:
      opacity 0.3s ease,
      visibility 0.3s ease;

    svg {
      width: 10px !important;
      height: 10px !important;
      fill: none;
    }

    &.swiper-button-disabled {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }

    @include for-mobile {
      display: none;
    }
  }

  .swiper-button-prev {
    left: -50px !important;
  }
  .swiper-button-next {
    right: -50px !important;
  }
}
