.sliderWrapper {
  position: relative;
  width: 100%;
  pointer-events: auto;

  @include for-mobile {
    padding-bottom: 30px;
  }
}

:global {
  .swiper-button-next,
  .swiper-button-prev {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid color-mix(in srgb, $primary, transparent 50%);
    transition:
      opacity 0.3s ease,
      visibility 0.3s ease;

    &:hover {
      background-color: rgba(126, 126, 126, 0.616);
    }

    svg {
      color: white;
      width: 10px !important;
      height: 10px !important;
      fill: none;
    }

    &.swiper-button-disabled {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }

    @include for-mobile {
      display: none;
    }
  }

  .swiper-button-prev {
    left: -50px !important;
  }
  .swiper-button-next {
    right: -50px !important;
  }

  .swiper-slide {
    transition: opacity 0.4s ease;

    @include for-mobile {
      opacity: 0.4;
    }

    &.swiper-slide-active {
      @include for-mobile {
        opacity: 1;
      }
    }
  }
}
